h1{
    background-image: url("images/pattern.jpeg");
    text-align: center;
    font-family: Helvetica;
    font-size: 100px;
    font-weight: bold;
    color: khaki;

}
h2 {
    font-family: Helvetica;
    font-size: 32px;
    font-weight: bold;
    color: white;
}
h3,h4{
    font-family: Helvetica;
    font-size: 32px;
    font-weight: bold;
    color: black;
}
#section1 h2{
    background-color: mediumspringgreen;
    
}
.spanBlueText{
    color: blue;
    font-family: Helvetica;
    font-weight: bold;

}
#section2 h2{
    background-color: lightcoral;
}
#section3 h2{
    background-color: skyblue;
}

